@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";
@import "../../styles/_base.scss";


.login_login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 112px);
  overflow: hidden;
  background-color: $divider-color;

  .login_login-form {
    background-color: $background-color;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease;
    border: 2px solid $divider-color;
  }

  .login_login-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: $primary-color;
  }

  .login_input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }

  .login_input-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $primary-color;
  }

  .login_input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.2s;
  }

  .login_input-group input:focus {
    outline: none;
    border-color: $primary-color;;
  }

  .login_login-error {
    color: $error-color;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .login_login-button {
    width: 100%;
    padding: 12px;
    background-color: $primary-color;;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login_login-button:hover {
    background-color: $secondary-color;
  }

  .login_login-button:focus {
    outline: none;
  }
}
