/* _variables.scss */
$primary-color: #426B1F;
$secondary-color: #6a945f;
$background-color: #FFFFFF;
$divider-color: #E6E6E6;
$hover-color: #f1f1f1;
$text-in-header-color: #000000;
$drop-content-color: #f9f9f9;
$border-color: #C2C2C2;
$nav-button-color: #ff0000;
$error-color: #e74c3c;
$font-family-main: 'Inter', sans-serif;
$font-family-header: 'Newsreader', serif;
$font-size-base: 16px;
$font-size-header: 32px;
$font-size-product: 64px;
$font-size-date: 20px;
