@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";
@import "../../styles/_base.scss";

/* Value */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  position: absolute;
  width: 500px;
  height: 16px;
  left: 553px;
  top: 83px;

  /* Single Line/Body Base

  Used for any text element where you need 100% line height. For example, an input field, a label.
  */
  font-family: $font-family-main;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #1E1E1E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;

  @media (max-width: 1050px) {
    display: none;
  }
}