DB_URL=
DB_USER=
DB_PASS=
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# VNPay Config
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_RETURN_URL=
VNPAY_IPN_URL=

# Email Config
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=

#Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=